--find-links https://download.pytorch.org/whl/torch_stable.html

torch==2.5.1+cu121
pandas>=2.2.3
numpy>=2.2.6
ninja
progress
progressbar
pyequilib

addict
diffusers
gradio
huggingface_hub
matplotlib
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
torchvision>=0.22.0
transformers
yapf
nltk
fairscale
